<app-header></app-header>
<div class="container aaa">
  <img src="../../assets/images/img2.webp" class="w-100" />
  <div class="text">
    <h1>Top salles de sport</h1>
    <p class="d-flex justify-content-start">
      Beaucoup de Perssone sautent le pas et veulent pratiquer une activité
      sportive, pour se sentir bien moralement et physiquement. Cependant, il
      est difficile de faire son choix avec les nombreuses salles de sport qui
      ouvrent chaque année : plus de 4 000 clubs en France ! Certaines proposent
      des concepts innovants, des disciplines originales, des prix attractifs,
      etc. de quoi trouver son bonheur.
    </p>
  </div>
  <div class="aaa">
    <p>
      Que vous soyez un grand ou petit sportif, la plupart des salles de sport
      ne nécessitent pas une condition physique particulière.
    </p>
    <p>
      Si vous n’êtes pas sûr de votre choix, vous pouvez prendre une salle de
      sport avec un forfait sans engagement. De plus, en dehors du prix du
      forfait, n’oubliez pas de prendre en compte les frais d’inscription qui
      peuvent grimper pour certaines salles.
    </p>
    <p>
      D’ailleurs, tous les forfaits n’incluent pas toutes les prestations et des
      coûts supplémentaires peuvent être demandés, notamment pour l’accès aux
      douches, l'accès aux zones bien-être, etc.
    </p>
    <p>
      Le plus important est que vous devez vous demander ce que vous souhaitez
      car toutes les salles ne proposent pas les mêmes prestations : coachs,
      cours collectifs, cours de fitness, remise en forme, espace cardio, salle
      de musculation, gym, pilates, zumba, boxe, crossfit, yoga, piscine, sauna,
      hammam, etc.
    </p>
    <p>
      Nous vous proposons différents classements pour trouver votre salle de
      sport en prenant en compte :
    </p>
    <ul>
      <li>le prix</li>
      <li>les horaires</li>
      <li>les activités</li>
    </ul>
    <h2>Quelle est la meilleure salle de sport ?</h2>
    <p>
      Nous vous proposons un classement indicatif de plusieurs types de salles
      de sports et pour tous les sportifs : les low-cost, les high-tech, les
      contemporaines, etc. En effet, la meilleure salle de sport pour vous doit
      être ouverte à vos heures de disponibilité, être près de chez vous, avoir
      un prix cohérent avec votre budget et disposer des activités que vous
      souhaitez exercer.
    </p>
  </div>
</div>
<div class="body">
  <div class="row d-flex justify-content-center">
    <div class="aaa">
      <div class="d-flex justify-content-center container m-5">
        <input
          type="text"
          placeholder="Rechercher"
          class="rounded-pill form-control border"
          [(ngModel)]="rechercher"
        />
      </div>

      <a
        class="btn btn-outline-warning w-100 mt-4"
        aria-current="page"
        href="/add-club"
        *ngIf="user.role == 'admin'"
      >
        Ajouter une salle
      </a>
    </div>

    <div *ngIf="!charger; else listClubs">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <ng-template #listClubs>
      <div
        class="row d-flex"
        *ngFor="let club of clubs | filter: rechercher; let i = index"
      >
        <div class="col-sm-3 col-sm-3"></div>
        <div class="col-sm-6 col-sm-6">
          <div class="d-flex p-3 text-white">
            <img
              onClick="totop()"
              [routerLink]="['/club', club._id]"
              src="{{ 'http://localhost:3000/static/' + club.images[0] }}"
              class="rounded-circle"
              height="50"
              width="50"
            />
            <h2 class="fs-1 text-white">{{ club.nom! }}</h2>
          </div>
          <div>
            <a
              ><img
                [routerLink]="['/club', club._id]"
                src="{{ 'http://localhost:3000/static/' + club.images[0] }}"
                class="w-100"
                height="500"
            /></a>
            <div class="border text-white">{{ club?.description! }}</div>
          </div>
          <div class="text-white">
            <p>{{ club?.likes }} Perssone ont aimez cette club</p>
            <small
              class="border px-5 rounded-pill d-flex justify-content-between"
            >
              <a
                class="text-decoration-none text-primary"
                (click)="like(club._id)"
                *ngIf="!userConect?.mylikes.includes(club?._id)"
                ><i class="bi bi-hand-thumbs-up-fill"></i> J'aime</a
              >
              <a
                class="text-decoration-none text-primary"
                (click)="dislike(club._id)"
                *ngIf="userConect?.mylikes.includes(club?._id)"
                ><i class="bi bi-hand-thumbs-down-fill"></i>Je n'aime plus</a
              >

              <a
                class="text-decoration-none"
                [routerLink]="['/add-club', club._id]"
                *ngIf="user.role == 'admin'"
              >
                <i class="bi bi-pencil-square"></i>Modifier</a
              >
              <a
                class="text-decoration-none text-danger"
                (click)="delete(club._id)"
                *ngIf="user.role == 'admin'"
              >
                <i class="bi bi-trash-fill"></i>Supprimer</a
              ></small
            >
          </div>
          <hr />
        </div>

        <div class="col-sm-3 col-sm-3"></div>
      </div>
    </ng-template>
  </div>
</div>

<app-footer></app-footer>
