/* .body {
  background-image: url(../../assets/images/4_1.jpg);
} */
.form-control {
  width: 500px;
}
.light1 {
  font-size: 10px;
}
.club:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.container .text {
  z-index: 1;
  position: absolute;
  font-family: Georgia;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 70%;
  color: white;
  width: 70%;
}
