<app-header></app-header>
<div class="body">
  <div class="row d-flex justify-content-center">
    <div>
      <div class="d-flex justify-content-center container mb-5">
        <input
          type="text"
          placeholder="Rechercher"
          class="rounded-pill form-control border"
          [(ngModel)]="rechercher"
        />
      </div>

      <a class="nav-link text-white mx-5" aria-current="page" href="/add-club"
        >Ajouter une salle</a
      >
    </div>

    <div *ngIf="!charger; else listClubs">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <ng-template #listClubs>
      <div
        class="card col col-md-4 col-sm-6 col-12 m-3 club"
        style="width: 18rem"
        *ngFor="let club of clubs | filter: rechercher; let i = index"
      >
        <img
          [routerLink]="['/club', club._id]"
          src="{{ 'http://localhost:3000/static/' + club.images[0] }}"
          class="card-img-top"
          height="180"
        />

        <div class="card-body">
          <div class="bg-dark">
            <h2 class="card-title text-center text-white">{{ club.nom! }}</h2>
          </div>
          <!-- /////////////////////////// -->

          <!-- /////////////////////////// -->
          <small class="card-text">
            <i class="bi bi-instagram"></i> {{ club.instagram! }}
          </small>
          <p class="card-text">
            <i class="bi bi-facebook text-primary"></i> {{ club.facebook! }}
          </p>
        </div>
        <a href="">J'aime</a>
        <div class="card-body d-flex justify-content-between align-items-end">
          <small>
            <a
              class="text-decoration-none"
              [routerLink]="['/add-club', club._id]"
            >
              <i class="bi bi-pencil-square"></i>Modifier</a
            ></small
          >
          <small>
            <a
              class="text-decoration-none text-danger"
              (click)="delete(club._id)"
            >
              <i class="bi bi-trash-fill"></i>Supprimer</a
            ></small
          >
        </div>
      </div>
    </ng-template>
  </div>
</div>
<app-footer></app-footer>
