.obliqu {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 10rem;
}
.bg {
  background-color: rgba(8, 8, 8, 0.527);
}
.horaire {
  background-color: rgba(8, 8, 8, 0.527);
}
.jour {
  list-style: none;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aze {
  width: 500px;
}
.a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  color: #fff;
}

.a span {
  position: relative;
  z-index: 2;
}

.a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffcc00;
  transition: all 0.35s;
}

.a:hover {
  color: #fff;
}

.a:hover:after {
  width: 100%;
}
.forfait-card {
  box-shadow: 10px 10px 10px 10px grey;
}
