.obliqu {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 10rem;
}
.bg {
  background-color: rgba(255, 230, 0, 0.384);
}
.horaire {
  background-color: rgba(8, 8, 8, 0.527);
}
.jour {
  list-style: none;
}
.body1 {
  background-image: url(../../assets/images/img2.webp);
  background-attachment: fixed;
  background-size: cover;
}
