<div class="main-content">
  <div class="container">
    <div class="d-md-inline-flex pl-4" [formGroup]="filterForm">
      <!-- Filter Row -->
      <div class="row">
        <!-- Search -->
        <div class="col">
          <label> Name</label>

          <input formControlName="name" placeholder="search user name" />
        </div>

        <!-- Company Name -->
        <div class="col">
          <label>Company Name</label>
          <input
            matInput
            formControlName="company"
            placeholder="Company name"
          />
        </div>

        <!-- Login Date -->
        <div class="col">
          <label>Choose a user login date</label>
          <input type="date" formControlName="last_login" />
        </div>

        <!-- Created At Date -->
        <div class="col">
          <label>Choose a user created at date</label>
          <input
            type="date"
            formControlName="created_at"
            placeholder="Created At Date"
          />
        </div>

        <!-- Company Type -->

        <div class="col">
          <label>Company Type</label>
          <select formControlName="company_type" multiple>
            <option *ngFor="let type of companyType" [value]="type.name">
              {{ type.name }}
            </option>
            <option value="">All</option>
          </select>
        </div>

        <!-- Score -->
        <div class="col">
          <label>Score </label>
          <input placeholder="Score" formControlName="score" maxlength="10" />
        </div>

        <!-- Status -->
        <div class="col">
          <label>Status</label>
          <select formControlName="status" multiple>
            <option *ngFor="let s of status" [value]="s.value">
              {{ s.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
