.genre:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.vetement {
  background-image: url(../../assets/images/vetement1.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.produit {
  background-image: url(../../assets/images/produit.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.material {
  background-image: url(../../assets/images/material2.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.car {
  background-color: rgba(250, 250, 250, 0.678);
}
