<app-header></app-header>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8 border">
    <h1 class="text-center fs-1 my-5 fst-italic">
      <b>Nos blogueuses préférées</b>
    </h1>
    <div class="">
      <a href="/add-blog" class="btn btn-danger">Ajouter un blog</a>
    </div>
    <div *ngFor="let blog of blogs; let i = index" class="my-5 border p-3">
      <div class="bg-dark px-3 d-flex justify-content-between">
        <h1 class="text-white fst-italic">{{ blog.titre! }}</h1>
        <small class="text-white">{{ blog.createdAt! | date: "medium" }}</small>
      </div>

      <p class="border rounded-top my-1">{{ blog.description! }}</p>
      <video controls class="video">
        <source
          src="{{ 'http://localhost:3000/static/' + blog.images[0] }}"
          type="video/mp4"
          [routerLink]="['/blog', blog._id]"
        />
      </video>
      <a class="text-danger mx-1" (click)="delete(blog._id)">Supprimer</a>
      <a [routerLink]="['/add-blog', blog._id]" class="text-primary mx-1"
        >Modifier</a
      >
    </div>
  </div>
  <div class="col-2"></div>
</div>

<app-footer></app-footer>
