<app-header></app-header>
<div class="row">
  <div class="phone w-100"></div>
  <h1 class="text-center fs-1 my-5 fst-italic">
    <b> TON SUIVI COMPLET EN POCHE !</b>
  </h1>
  <div class="">
    <p class="fs-5 mx-5 blogs1">
      <b
        ><samp class="text-danger fs-1"><b>+</b> </samp> Retrouve tes programmes
        d’entraînement sur-mesure et réserve tes cours Fitness en un clic !</b
      >
    </p>
    <p class="fs-5 mx-5 blogs1">
      <b
        ><samp class="text-danger fs-1"><b>+</b> </samp> Suis ton alimentation
        et découvre la valeur nutritionnelle de ce qui se cache dans ton frigo
        !</b
      >
    </p>
    <p class="fs-5 mx-5 blogs1">
      <b
        ><samp class="text-danger fs-1"><b>+</b> </samp> Evalue ta progression
        au fil des jours pour atteindre tes objectifs !
      </b>
    </p>
    <p class="fs-5 mx-5 blogs1">
      <b
        ><samp class="text-danger fs-1"><b>+</b> </samp>Prends le contrôle sur
        la musique de ton club et retrouve toutes les actus et défis fitness à
        ne pas manquer !
      </b>
    </p>
    <p class="fs-5 mx-5 blogs1">
      <b
        ><samp class="text-danger fs-1"><b>+</b> </samp>Parraine tes amis et
        bénéficie de remises exceptionnelles !
      </b>
    </p>
    <p class="fs-5 m-5">
      <b
        >Avec <b>FITNESS</b>, tu suis ta progression, optimise tes performances
        et dépasse tes limites.
      </b>
    </p>
  </div>

  <div class="col-2"></div>
  <div class="col-8">
    <h1 class="text-center fs-1 my-5 fst-italic">
      <b>Nos blogueuses préférées</b>
    </h1>
    <div class="" *ngIf="user.role == 'admin'">
      <a href="/add-blog" class="btn btn-danger">Ajouter un blog</a>
    </div>
    <div *ngFor="let blog of blogs; let i = index" class="my-5 border p-3">
      <div class="bg-danger px-3 d-flex justify-content-between">
        <h1 class="text-white fst-italic fs-2">{{ blog?.titre! }}</h1>
        <small class="text-white">{{
          blog?.createdAt! | date: "medium"
        }}</small>
      </div>

      <p class="rounded-top my-1 fs-4">{{ blog?.description! }}</p>
      <video controls class="video">
        <source
          src="{{ 'http://localhost:3000/static/' + blog.images[0] }}"
          type="video/mp4"
          [routerLink]="['/blog', blog._id]"
        />
      </video>
      <a class="text-danger mx-1" (click)="delete(blog._id)">Supprimer</a>
      <a [routerLink]="['/add-blog', blog._id]" class="text-primary mx-1"
        >Modifier</a
      >
    </div>
  </div>
  <div class="col-2"></div>
</div>
<div></div>

<app-footer></app-footer>
