<app-header></app-header>
<div class="body"></div>
<div class="my-5 container">
  <h2 class="mb-4 text-center">
    Résistance, musculation, stretching, le cocktail gagnant
  </h2>
  <p class="text-center">
    Pour celles qui en ont la possibilité, l’idéal est de pratiquer plusieurs
    activités de fitness pour travailler sur l'ensemble du corps. Le stretching
    est optimal pour favoriser l’assouplissement des muscles et leur résistance
    tout en relâchant la tension musculaire. Les gestes dispensés dans les
    salles de sport sont faciles à reproduire à la maison. La musculation, quant
    à elle, raffermit le corps et le tonifie, tout en repoussant ses limites
    physiques. On opte pour les machines guidées dans les salles ou pour des
    mouvements lestés chez soi. Enfin, les exercices de résistance comme
    l’aérobic, la course à pied, le vélo ou encore la corde à sauter permettent
    de brûler des calories, d’améliorer sa condition physique et
    cardio-vasculaire tout en dynamisant son corps.
  </p>
</div>
<div class="bg-light">
  <h2 class="py-5 text-center">POURQUOI FAIRE DU SPORT ?</h2>
  <div class="section-3-text d-flex">
    <div class="d1 col-md-3 text-center">
      <h3 class="section-3-info">POUR LA SANTÉ</h3>
      <div class="aa"></div>
      <p>
        C’est la principale justification qui vient à l’esprit quand on se pose
        la question de pourquoi faire du sport : parce que ça permet de se
        maintenir en forme ! En pratiquant une activité sportive, vous allez
        agir positivement sur tout un tas de facettes de votre santé. La liste
        des bienfaits du sport sur la santé est longue comme le bras : meilleur
        fonctionnement du coeur et de l’activité sanguine, augmentation de la
        masse musculaire, diminution de la masse graisseuse, entretien des
        articulations et des os, diminution du stress, des risques de cancers,
        amélioration du sommeil… En bref, faire du sport vous permettra de vivre
        plus longtemps et en meilleure forme.
      </p>
    </div>
    <div class="d2 col-sm-3 text-center px-2">
      <h3 class="section-3-info">POUR LE MORAL</h3>
      <p>
        Si un air de la Compagnie créole vous trotte dans la tête en ayant lu ce
        titre, c’est normal, et j'en suis bien désolée. Plus sérieusement, faire
        du sport va contribuer à améliorer votre état mental et à chasser le
        stress et autres pensées négatives. C'est un moment où vous allez penser
        à vous, vous re-connecter avec votre corps et votre esprit. Grâce à
        l’activité physique, votre corps va sécréter des endorphines qui vont
        vous faire ressentir une grande sensation de bien-être, jusqu’à parfois
        créer une véritable dépendance ! Vous éloignerez quoi qu’il en soit les
        idées noires et les petits tracas du quotidien en pratiquant une
        activité sportive : surtout, ne vous en privez pas, on a tous besoins de
        décompresser ! Ces sensations de plaisir et de bien être intérieur vont
        également favoriser votre confiance et votre estime de vous.
      </p>
    </div>
    <div class="d3 col-sm-3 text-center">
      <i class="fas fa-heart fa-5x my-5"></i>
      <h3 class="section-3-info">POUR LE COEUR</h3>
      <p>
        Maigrir ce n'est pas forcément pour "faire beau" c'est aussi protéger et
        prévenir son coeur contre les maladies cardio vasculaires. Le cœur est
        un muscle et comme tout muscle entraîné il se renforce. Grâce à
        l'activité physique, le cœur grossit et la fréquence cardiaque et la
        tension artérielle vont diminuer progressivement, et les parois des
        vaisseaux vont s’assouplir. Ainsi le sport contribue à la réduction des
        risques de maladies cardio vasculaires et les accidents vasculaires
        cérébraux. Le graisse autour du ventre est la plus dangereuse pour le
        cœur, ce sont principalement les activités d'endurance qui favorisent sa
        perte. En faisant du sport de façon régulière, vous attaquer vos
        graisses profondes, tout en augmentant le volume de vos muscles. Votre
        silhouette va ainsi progressivement s’affiner et vous vous sentirez
        mieux dans vos mouvements et déplacement.
      </p>
    </div>
    <div class="d4 col-sm-3 text-center">
      <i class="far fa-smile fa-5x my-5"></i>
      <h3 class="section-3-info">POUR LE PLAISIR</h3>
      <p>
        Et si vous vous mettiez au sport uniquement pour votre plaisir ? Il n’y
        a pas forcément besoin d’avoir des kilos à perdre ou quelqu’un à
        impressionner pour s’adonner à une activité sportive. Vous allez pouvoir
        vous faire du bien en ne pensant qu’à vous et à vous seul·e ! Ce
        sentiment de plaisir variera en fonction du sport choisi et des attentes
        de chacun : sensations fortes avec les sports extrêmes et/ou de vitesse,
        satisfaction d’améliorer ses propres performances sans avoir à se
        comparer à quelqu’un d’autre, plaisir de toucher ses pieds jambes
        tendues après des heures de yoga, fierté de rester 30 secondes de
        gainage sans avoir l'impression de mourir, joie de monter les escaliers
        en pouvant parler en même temps, partage d’un chouette instant avec des
        amis dans le cadre d’un sport collectif…
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
